.App {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

@font-face {
  font-family: "Russo One";
  src: url("./Fonts/RussoOne-Regular.ttf");
}

.set-font {
  font-family: "Russo One";
  font-weight: 500;
}
